$greyBackGround : rgba(22, 22, 22, 0.4);
$defaultMargin: 1em;

:root{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#todoCards{
    display: flex;
    position : absolute;
    flex-direction: row;
}

#wrapper{
    margin : $defaultMargin;
}
#todo{
    padding :  $defaultMargin;
}
/*
#count{

}
#todoCard{
    
}
.task{

}
.delBtn{

}*/

#btn{
    margin-bottom: $defaultMargin;
    background-color: $greyBackGround;
    width: 80%;
}

